<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Do not cache this page -->
	<meta http-equiv="cache-control" content="max-age=0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">

	<!-- Load required Bootstrap and BootstrapVue CSS -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

	<!-- Load polyfills to support older browsers -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
		crossorigin="anonymous"></script>

	<!-- Load Vue followed by BootstrapVue -->
	<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<title>Branch Manager</title>
	<style>

		.code2 {
			font-family: "Monaco", "Courier New", monospace;
			font-size: smaller;
			height: 600px;
			width: 100%;
			white-space: pre;
			overflow: scroll;
			border-width: 1px;
			border-style: solid;
			line-height: 1.5;
			padding: 3px;
		}

		.code1 {
			font-family: "Monaco", "Courier New", monospace;
			font-size: smaller;
			height: 600px;
			width: 100%;
			white-space: nowrap;
			overflow: scroll;
		}

		.col-code {
			width: 45%;
		}

		.del {
			background-color: orange;
		}

		.add {
			background-color: lightgreen;
		}

		.navbar-menu-title {
			margin: auto;
			color: white !important;
			font-size: 24px;
		}

		h4 {
			color: darkblue;
			font-size: 20px;
		}

		hr {
			margin-top: 5px;
			margin-bottom: 0;
			height: 2px !important;
			opacity: 1;
		}

		#selenv {
			font-size: 18px;
			padding: 5px;
			width: 100%;
		}

		#currevno,
		#prvrevno {
			font-size: 18px;
			padding: 5px 10px 5px 10px;
		}

		#collapse_button {
			font-size: 24px;
			font-weight: bolder;
			padding: 0px 10px 0px 10px;
		}

		.nav-tabs {
			font-size: 20px;
		}

		.card-header {
			font-size: 24px;
		}

		.card-body {
			padding: 5px;
		}

		.form-control-plaintext {
			font-size: 18px;
			padding: 0px 10px 0px 10px;
		}

		.result-card-title .card-body h4.card-title {
			text-align: center;
			font-size: 28px;
		}
	</style>
</head>

<body>
	<div id="app">
		<b-navbar type="dark" variant="primary">
			<b-button id="collapse_button" variant="primary" @click="collapse_col" v-b-tooltip.hover.right :title="collapse_col_tooltip">{{collapse_col_text}}</b-button>
			<div class="navbar-menu-title">AnyDB Branch Manager</div>
			<b-button v-on:click="resetCredentials" class="mr-2" variant="primary" style="float: right;">Reset credentials</b-button>
		</b-navbar>
		<b-modal id="login" ref="login" title="Enter your SVN credentials" @ok="handleLoginOk" hide-header-close>
			<form ref="form" @submit.stop.prevent="handleLoginSubmit">
				<b-form-group label="Username" label-for="name-input" invalid-feedback="Username is required" :state="nameState">
          			<b-form-input id="name-input" v-model="uname" :state="nameState" required></b-form-input>
				</b-form-group>
				<b-form-group label="Password" label-for="pwd-input" invalid-feedback="Password is required" :state="pwdState">
          			<b-form-input id="pwd-input" v-model="pwd" type="password" :state="pwdState" required></b-form-input>
				</b-form-group>
			</form>
		</b-modal>
		<b-container fluid v-show="!initializing && !showMergeCode && !showMergeUi">
			<b-row>
				<b-col cols="3" v-show="!collapse">
				    <h4 class="sr-only" >Current branch</h4>
					<b-form-input v-model="branchName" plaintext readonly class="border"></b-form-input>
					<b-alert v-show="retrieveResult6 !== ''" :variant=errmsg show>{{ retrieveResult6 }}</b-alert>
					<div class="accordion mt-4" role="tablist">
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button style="width:100%;" v-b-toggle.collapse-1 variant="outline-primary" fill>Create a new Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-1" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
												<b-col cols="8">
													<b-form-checkbox id="cb1" class="mb-2" v-model="branch" value="remove" unchecked-value="keep">Remove current branch?</b-form-checkbox>
												    <label class="sr-only" for="newBranchName">Name of new branch</label>
													<b-form-input v-model="newBranchName" class="border"></b-form-input>
												</b-col>
									        	<b-col class="mt-auto" style="margin-right: -20px;">
													<b-button style="width:100%;" v-on:click="createBranch" class="mr-0" variant="primary">Create Branch</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading5" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult5 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult5 }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="uptodate" style="width:100%;" v-b-toggle.collapse-2 variant="outline-primary" fill>Merge LIVE Flows into Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-2" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col>
													<b-button size="sm" v-on:click="diffFlows" class="mr-2" variant="primary">Open Merge page</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading0" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult0 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult0 }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="uptodate || !hasUI" style="width:100%;" v-b-toggle.collapse-3 variant="outline-primary" fill>Merge LIVE UI into Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-3" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-overlay :show="loading2" variant="light" opacity="0.6" rounded="sm">
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('html')" class="mr-2" variant="primary">Open Merge HTML page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult2 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult2 }}</b-alert>
												</b-col>
											</b-row>
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('js')" class="mr-2 mt-2" variant="primary">Open Merge Js page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult3 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult3 }}</b-alert>
												</b-col>
											</b-row>
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('css')" class="mr-2 mt-2" variant="primary">Open Merge Css page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult4 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult4 }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="disableUpdate()" style="width:100%;" v-b-toggle.collapse-4 variant="outline-primary" fill>Update Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-4" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col>
													<b-button :disabled="disableUpdate()" size="sm" v-on:click="updateBranch" class="mr-2" variant="primary">Update Branch</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading6" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult6 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult6 }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button style="width:100%;" v-b-toggle.collapse-5 variant="outline-primary" fill v-on:click="refreshList">Remove Branches</b-button>
							</b-card-header>
							<b-collapse id="collapse-5" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col cols="8">
													<b-form-select style="width:100%;" v-model="selected" :options="myBranches" multiple></b-form-select>
									        	</b-col>
									        	<b-col>
													<b-button style="width:100%;" :disabled="disableRemove()" v-on:click="removeBranches" class="mr-0" variant="primary" fill>Remove</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading7" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult7 !== ''">
												<b-col class="mt-3">
													<b-alert variant="success" show>{{ retrieveResult7 }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
					</div>
				</b-col>
				<b-col :cols="mainWidth" v-show="showMergeFlows">
					<b-card notitle >
						<b-tabs card fill>
							<b-tab title="Nodes only in live" active>
								<b-table small sticky-header="700px" :items="addedNodes" :fields="nodeFields">
									<template #table-colgroup="data">
									    <col style="width:5%" center>
									    <col style="width:20%">
									    <col>
									    <col style="width:10%">
									    <col style="width:10%">
									</template>
									<template #cell(add)="row">
									    <b-form-checkbox id="add" v-model="row.item.add" name="add"></b-form-checkbox>
									</template>
									<template #cell(show_details)="row">
							      		<b-button size="sm" @click="row.toggleDetails" class="mr-2" v-if="(row.item.curHtml.length > 0)">
							        		{{ row.detailsShowing ? 'Hide' : 'Show'}} Code
										</b-button>
									</template>
									<template #row-details="row">
								        <b-card>
								          <b-row class="mb-2">
								            <b-col>
												<pre class="code1" v-html="row.item.curHtml"></pre>
											</b-col>
								          </b-row>
								        </b-card>
									</template>
								</b-table>
							</b-tab>
							<b-tab title="Nodes changed">
								<b-table small sticky-header="700px" :items="changedNodes" :fields="nodeChangedFields" ref="cn">
									<template #table-colgroup="data">
										<col style="width:20%">
										<col>
										<col style="width:10%">
									    <col style="width:10%">
									    <col style="width:10%">
									</template>
									<template #cell(show_details)="row">
										<b-button size="sm" class="mr-2" :variant="row.item.merged?'success':'primary'" v-on:click="onMergeCode(row.index, row.item)"
											v-if="(row.item.curHtml.length > 0 || row.item.prvHtml.length > 0)">
											Merge Code
										</b-button>
									</template>
								</b-table>
							</b-tab>
						</b-tabs>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
		<b-container fluid v-show="showMergeCode || showMergeUi">
			<b-row>
				<b-col cols="12" v-show="showMergeUi">
					<b-button size="sm" v-on:click="doneMergingUi" class="mr-2" variant="primary" style="margin-top: 2px;">Done</b-button>
					<b-card>
						<b-row>
							<b-col class="col-code">
								<label style="font-weight: bolder;">{{diffHead1}}</label>
								<b-form-textarea name="syncscroll3" class="syncscrollui code1" v-model="ui[0]"></b-form-textarea>
							</b-col>
							<b-col class="col-code">
								<label style="font-weight: bolder;">{{diffHead2}}</label>
								<div name="syncscroll4" class="syncscrollui code2" v-html="ui[1]"></div>
							</b-col>
						</b-row>
					</b-card>
				</b-col>
				<b-col cols="12" v-show="showMergeCode">
					<b-button size="sm" v-on:click="doneMergingCode" class="mr-2" variant="primary" style="margin-top: 2px;">Done</b-button>
					<b-card>
						<b-row>
							<b-col class="col-code">
								<label style="font-weight: bolder;">{{diffHead1}}</label>
								<b-form-textarea name="syncscroll1" class="syncscroll code1" v-model="currow.curHtml"></b-form-textarea>
							</b-col>
							<b-col class="col-code">
								<label style="font-weight: bolder;">{{diffHead2}}</label>
								<div name="syncscroll2" class="syncscroll code2" v-html="currow.prvHtml"></div>
							</b-col>
						</b-row>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
	</div>
</body>
<script>
	window.app = new Vue({
		el: '#app',
		data: function () {
			return {
				uname: "",
				nameState: null,
				pwd: "",
				pwdState: null,
				initializing: true,
				loading0: false,
				loading1: false,
				loading2: false,
				loading5: false,
				loading6: false,
				loading7: false,
				retrieveResult0: "",
				retrieveResult1: "",
				retrieveResult2: "",
				retrieveResult3: "",
				retrieveResult4: "",
				retrieveResult5: "",
				retrieveResult6: "",
				retrieveResult7: "",
				errmsg: "danger",
				uptodate: false,
				canUpdate: false,
				addedNodes: [],
				changedNodes: [],
				nodeChangedFields: [
					{key: "tabName", label: "Tab"},
					{key: "nodeName", label: "Node"},
					{key: "nodeContent.type", label: "Type"},
					{key: "whatChanged", label: "what changed?"},
					{key: "show_details", label: "Code"}
				],
				nodeFields: [
					{key: "add", label: "Add?"},
					{key: "tabName", label: "Tab"},
					{key: "nodeName", label: "Node"},
					{key: "nodeContent.type", label: "Type"},
					{key: "show_details", label: "Code"}
				],
				err400: false,
				collapse: false,
				collapse_col_text: "<",
				collapse_col_tooltip: "Close left column",
				mainWidth: "9",
				showMergeFlows: false,
				showMergeCode: false,
				showMergeUi: false,
				branchName: "",
				newBranchName: "",
				branch:"remove",
				diffHead1: "Branch",
				diffHead2: "Live",
				uiType: "html",
				ui: ["",""],
				hasUI: false,
				html: "",
				js: "",
				css: "",
				currow: {},
				curix: -1,
				curcolor: "primary",
				mergedCode: [],
				mergedNodes: [],
				merged: [],
				selected: [],
				myBranches:[]
			};
		},
		computed: {
		},
		methods: {
			refresh() {
				window.location.reload();
			},
			collapse_col() {
				this.collapse = !this.collapse;
				this.mainWidth = this.collapse ? "12" : "9";
				this.collapse_col_text = this.collapse ? ">" : "<";
				this.collapse_col_tooltip = this.collapse ? "Open left column" : "Close left column";
			},
			disableUpdate() {
				this.merged[0] = true;
				for (var row of this.changedNodes) {
					this.merged[0] = this.merged[0] && row.merged;
				}
				var tmp = this.uptodate || !(this.merged[0] && this.merged[1] && this.merged[2] && this.merged[3]);
				return tmp; 
			},
			disableRemove() {
				return (this.myBranches.length === 1 && this.myBranches[0] === this.branchName) || this.myBranches.length === 0;
			},
			getCookie(cname) {
				let name = cname + "=";
				let decodedCookie = decodeURIComponent(document.cookie);
				let ca = decodedCookie.split(';');
				for(let i = 0; i <ca.length; i++) {
					let c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
						return c.substring(name.length, c.length);
					}
				}
				return "";
			},
			setCookie(cname, cvalue, exdays) {
				const d = new Date();
				d.setTime(d.getTime() + (exdays*24*60*60*1000));
				let expires = "expires="+ d.toUTCString();
				document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
			},
			checkCookies() {
				this.uname = this.getCookie("SvnUser");
				this.pwd = this.getCookie("SvnPwd");
				if (this.uname === "" || this.pwd === "") {
					this.$refs['login'].show();
				} else {
					this.initializing = false;
				}
			},
			handleLoginOk(bvModalEvt) {
				// Prevent modal from closing
				bvModalEvt.preventDefault();
				this.handleLoginSubmit();
			},
			handleLoginSubmit() {
				const valid = true;
				if (this.uname === "") {
					this.nameState = false;
					valid = false;
				}
				if (this.pwd === "") {
					this.pwdState = false;
					valid = false;
				}
				if (!valid)	return;
				// Hide the modal manually
				this.$nextTick(() => {
					this.$bvModal.hide('login');
				});
				this.setCookie("SvnUser", this.uname, 365);
				this.setCookie("SvnPwd", this.pwd, 365);
				this.initializing = false;
			},
			resetCredentials() {
				this.$refs['login'].show();
			},
			handleMergeOk(bvModalEvt) {
				// Prevent modal from closing
				bvModalEvt.preventDefault();
				this.handleMergeSubmit();
			},
			handleMergeSubmit() {
				// Hide the modal manually
				this.$nextTick(() => {
					this.$bvModal.hide('merge');
				});
				this.loading = true;
			},
			sync() {
				this.$nextTick(function () {
					this.reset();
				});
			},
			reset() {
				var elems = this.$el.getElementsByClassName("syncscroll");
				var el1 = elems[0];
				var el2 = elems[1];
				// clearing existing listeners
				el1.removeEventListener('scroll', el1.syn, 0);
				el2.removeEventListener('scroll', el2.syn, 0);
				// setting-up the new listeners
				el1.eX = el1.eY = el2.eX = el2.eY = 0;
				this.syncScroll(el1, el2);
				this.syncScroll(el2, el1);
			},
			resetui(event) {
				var elems = this.$el.getElementsByClassName("syncscrollui");
				var el1 = elems[0];
				var el2 = elems[1];
				// clearing existing listeners
				el1.removeEventListener('scroll', el1.syn, 0);
				el2.removeEventListener('scroll', el2.syn, 0);
		        // setting-up the new listeners
	            el1.eX = el1.eY = el2.eX = el2.eY = 0;
				this.syncScroll(el1, el2);
				this.syncScroll(el2, el1);
		    },
			syncScroll(el, otherEl) {
				el.addEventListener('scroll', el.syn = function () {
					var scrollX = el.scrollLeft;
					var scrollY = el.scrollTop;
					var xRate = scrollX / (el.scrollWidth - el.clientWidth);
					var yRate = scrollY / (el.scrollHeight - el.clientHeight);
					var updateX = scrollX != el.eX;
					var updateY = scrollY != el.eY;
					el.eX = scrollX;
					el.eY = scrollY;
					if (updateX && Math.round(otherEl.scrollLeft -
						(scrollX = otherEl.eX = Math.round(xRate * (otherEl.scrollWidth - otherEl.clientWidth))))
					) {otherEl.scrollLeft = scrollX;}
					if (updateY && Math.round(otherEl.scrollTop -
						(scrollY = otherEl.eY = Math.round(yRate * (otherEl.scrollHeight - otherEl.clientHeight))))
					) {otherEl.scrollTop = scrollY;}
				}, 0);
			},
			diffFlows() {
				this.loading0 = true;
				axios.post("/changednodes")
				.then(response => {
					var f = response.data;
					if (f.added === undefined) {
						console.log(f.msg);
						this.retrieveResult0 = f.msg;
						if (String(f.msg).startsWith("Branch")) {
							this.merged[0] = true;
						}
					} else {
						this.addedNodes = f.added;
						for (var i = 0; i < this.addedNodes.length; i++) {
							this.addedNodes[i].add = true;
						}
						this.changedNodes = f.changed;
						for (var i = 0; i < this.changedNodes.length; i++) {
							this.changedNodes[i].merged = false;
						}
						this.showMergeFlows = true;
						this.retrieveResult0 = "";
					}
					this.loading0 = false;
					this.initializing = false;
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult0 = error.message;
					this.loading0 = false;
					this.initializing = false;
				});
			},
			diffUI(type) {
				event.preventDefault();
				this.uiType = type;
				this.loading2 = true;
				axios.post("/changeduis/" + type)
				.then(response => {
				    var f = response.data;
				    console.log(f);
					if (!Array.isArray(f)) {
						console.log(f.msg);
						if (type === "html") {
							this.retrieveResult2 = f.msg;
						} else if (type === "js") {
							this.retrieveResult3 = f.msg;
						} else {
							this.retrieveResult4 = f.msg;
						}
					} else {
						if (f[0] === "") {
							console.log(type + "'s are the same");
							if (type === "html") {
								this.retrieveResult2 = type + "'s are the same";
								this.merged[1] = true;
							} else if (type === "js") {
								this.retrieveResult3 = type + "'s are the same";
								this.merged[2] = true;
							} else {
								this.retrieveResult4 = type + "'s are the same";
								this.merged[3] = true;
							}
						} else {
							this.ui = f;
							this.showMergeUi = true;
						}
					}
					this.loading2 = false;
				})
				.catch(error => {
					if (error.response.status === 400) {
						this.retrieveResult2 = "Please push button again.";
					} else {
				    	console.log(error.message);
						if (type === "html") {
							this.retrieveResult2 = error.message;
						} else if (type === "js") {
							this.retrieveResult3 = error.message;
						} else {
							this.retrieveResult4 = error.message;
						}
					}
					this.loading2 = false;
				});
			},
			onMergeCode(index, row) {
				this.showMergeCode = true;
				this.showMergeFlows = false;
				this.showMergeUi = false;
				this.curix = index;
				this.currow = row;
			},
			doneMergingCode() {
				this.showMergeCode = false;
				this.showMergeFlows = true;
				this.showMergeUi = false;
				this.changedNodes[this.curix].curHtml = this.currow.curHtml;
				this.changedNodes[this.curix].nodeContent.func = this.currow.curHtml;
				this.changedNodes[this.curix].merged = true;
				this.$refs.cn.refresh(); // Refresh changedNodes table to show changes
			},
			doneMergingUi() {
				this.merging = false;
				this.showMergeUi = false;
				this.showMergeFlows = false;
				this.showMergeCode = false;
				if (this.uiType === "html") {
					this.html = this.ui[0];
					this.merged[1] = true;
				} else if (this.uiType === "js") {
					this.js = this.ui[0];
					this.merged[2] = true;
				} else {
					this.css = this.ui[0];
					this.merged[3] = true;
				}
			},
			getBranch() {
				this.retrieveResult6 = "";
				this.uptodate = false;
				this.loading4 = true;
				axios.post("/getbranch")
				.then(response => {
					var f = response.data;
					if (f.branch === "") {
						console.log(f.msg);
						this.retrieveResult6 = f.msg;
						this.errmsg = "danger";
					} else if (f.msg !== "") {
						console.log(f.msg);
						this.retrieveResult6 = f.msg;
						this.errmsg = "success";
						this.uptodate = true;
					}
					this.branchName = f.branch;
					this.loading4 = false;
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult6 = error.message;
					this.errmsg = "danger";
					this.loading4 = false;
				});
			},
			getMyBranches() {
				this.retrieveResult7 = "";
				this.loading7 = true;
				this.myBranches = [];
				axios.post("/getbranches")
				.then(response => {
					for (var i = 0; i < response.data.length; i++) {
						if (response.data[i] === this.branchName) {
							this.myBranches.push({text:response.data[i],disabled:true});
						} else {
							this.myBranches.push(response.data[i]);
						}
					}
					this.selected = [];
					this.loading7 = false;
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult7 = error.message;
					this.errmsg = "danger";
					this.loading7 = false;
				});
			},
			createBranch() {
				this.loading5 = true;
				this.retrieveResult5 = "";
				var url = "/createbranch/" + this.newBranchName
				if (this.branch === "remove") {
					url += ":" + this.branchName;
				}
				axios.post(url)
				.then(response => {
					var f = response.data;
					if (String(f).startsWith("svn")) {
						console.log(f);
						this.retrieveResult5 = f;
					} else {
						this.retrieveResult5 = "";
						
						this.branchName = this.newBranchName;
					}
					this.loading5 = false;
					this.refresh();
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult5 = error.message;
					this.loading5 = false;
				});
			},
			updateBranch() {
				this.loading6 = true;
				this.retrieveResult6 = "";
				for (var n of this.addedNodes) {
					if (n.add) {
						this.mergedNodes.push({nodeId: n.nodeId, nodeContent: n.nodeContent });
					}
				}
				for (var n of this.changedNodes) {
					this.mergedNodes.push({ nodeId: n.nodeId, nodeContent: n.nodeContent });
				}
				axios.post("/updatebranch", {nodes: this.mergedNodes, html: this.html, js: this.js, css: this.css})
				.then(response => {
					var f = response.data;
					if (String(f).startsWith("svn")) {
						console.log(f);
						this.retrieveResult6 = f;
					}
					this.loading6 = false;
					this.refresh();
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult6 = error.message;
					this.loading6 = false;
				});
			},
			refreshList() {
				this.getMyBranches();
				this.selected = [];
			},
			removeBranches() {
				axios.post("/removebranch", this.selected)
				.then(response => {
					var f = response.data;
					if (String(f).startsWith("svn")) {
						console.log(f);
						this.retrieveResult7 = f;
					}
					this.loading7 = false;
					this.getMyBranches();
				})
				.catch(error => {
					console.log(error.message);
					this.retrieveResult7 = error.message;
					this.loading7 = false;
				});
			},
		},
		mounted: function () {
			this.checkCookies();
			this.sync();
			this.showMergeCode = false;
			this.showMergeUi = false;
			this.merged = [false, false, false, false];
			this.getBranch();
		}
	})
</script>

</html>