<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Do not cache this page -->
	<meta http-equiv="cache-control" content="max-age=0">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="-1">
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
	<meta http-equiv="pragma" content="no-cache">

	<!-- Load required Bootstrap and BootstrapVue CSS -->
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

	<!-- Load polyfills to support older browsers -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
		crossorigin="anonymous"></script>

	<!-- Load Vue followed by BootstrapVue -->
	<script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

	<!-- Load the following for BootstrapVueIcons support -->
	<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
	<style><include>/branchpage.css</include></style>
	<title>Nodered Branch Manager</title>
</head>

<body>
	<div id="app">
		<b-navbar type="dark" variant="primary">
			<b-button id="collapse_button" variant="primary" @click="collapse_column" v-b-tooltip.hover.right :title="collapse_col_tooltip">{{collapse_col_text}}</b-button>
			<div class="navbar-menu-title">Nodered Branch Manager</div>
			<b-button v-on:click="resetCredentials" class="mr-2" variant="primary" style="float:right">Reset credentials</b-button>
		</b-navbar>
		<!-- SVN Login dialog -->
		<b-modal id="login" ref="login" title="Enter your SVN credentials" @ok="handleLoginOk" hide-header-close>
			<form ref="form" @submit.stop.prevent="handleLoginSubmit">
				<b-form-group label="Username" label-for="name-input" invalid-feedback="Username is required" :state="nameState">
          			<b-form-input id="name-input" v-model="uname" :state="nameState" required></b-form-input>
				</b-form-group>
				<b-form-group label="Password" label-for="pwd-input" invalid-feedback="Password is required" :state="pwdState">
          			<b-form-input id="pwd-input" v-model="pwd" type="password" :state="pwdState" required></b-form-input>
				</b-form-group>
			</form>
		</b-modal>
		<!-- Main page: two vertical sections (width 3 and 9) -->
		<b-container fluid v-show="!initializing && !showMergeCode && !showMergeUi">
			<b-row>
				<!-- Left column when WC is not dirty -->
				<b-col cols="3" v-show="!collapse && hasChanges == 0">
				    <h4 class="sr-only" >Current branch</h4>
					<b-form-input v-model="branchName" plaintext readonly class="border"></b-form-input>
					<b-alert v-show="retrieveResult.branchName !== ''" :variant=errmsg show>{{ retrieveResult.branchName }}</b-alert>
					<div class="accordion mt-4" role="tablist">
						<!-- Create a new Branch -->
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button style="width:100%;" v-b-toggle.collapse-1 variant="outline-primary" fill>Create a new Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-1" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
												<b-col cols="8">
													<b-form-checkbox id="cb1" class="mb-2" v-model="branch" value="remove" unchecked-value="keep">Remove current branch?</b-form-checkbox>
												    <label class="sr-only" for="newBranchName">Name of new branch</label>
													<b-form-input v-model="newBranchName" class="border"></b-form-input>
												</b-col>
									        	<b-col class="mt-auto" style="margin-right: -20px;">
													<b-button style="width:100%;" v-on:click="createBranch" class="mr-0" variant="primary">Create Branch</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading.createBranch" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult.createBranch !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.createBranch }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<!-- Merge Trunk Flows into Branch -->
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="uptodate" style="width:100%;" v-b-toggle.collapse-2 variant="outline-primary" fill>Merge Trunk Flows into Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-2" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col>
													<b-button size="sm" v-on:click="diffFlows" class="mr-2" variant="primary">Open Merge page</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading.diffFlows" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult.diffFlows !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.diffFlows }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<!-- Merge Trunk UI into Branch -->
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="uptodate || !hasUI" style="width:100%;" v-b-toggle.collapse-3 variant="outline-primary" fill>Merge Trunk UI into Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-3" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-overlay :show="loading.diffui" variant="light" opacity="0.6" rounded="sm">
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('html')" class="mr-2" variant="primary">Open Merge HTML page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult.diffhtml !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.diffhtml }}</b-alert>
												</b-col>
											</b-row>
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('js')" class="mr-2 mt-2" variant="primary">Open Merge Js page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult.diffjs !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.diffjs }}</b-alert>
												</b-col>
											</b-row>
									        <b-row>
									        	<b-col>
													<b-button v-on:click="diffUI('css')" class="mr-2 mt-2" variant="primary">Open Merge Css page</b-button>
												</b-col>
									        </b-row>
											<b-row v-show="retrieveResult.diffcss !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.diffcss }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<!-- Update Branch -->
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button :disabled="disableUpdate()" style="width:100%;" v-b-toggle.collapse-4 variant="outline-primary" fill>Update Branch</b-button>
							</b-card-header>
							<b-collapse id="collapse-4" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col>
													<b-button size="sm" v-on:click="updateBranch" class="mr-2" variant="primary">Update Branch</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading.updbranch" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult.updbranch !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.updbranch }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
						<!-- Remove Branches -->
						<b-card no-body>
							<b-card-header header-tag="header" class="p-1" role="tab">
								<b-button  :disabled="disableRemove()" style="width:100%;" v-b-toggle.collapse-5 variant="outline-primary" fill v-on:click="refreshList">Remove Branches</b-button>
							</b-card-header>
							<b-collapse id="collapse-5" accordion="my-accordion">
								<b-card-body>
									<b-form>
										<b-container fluid style="padding-left: 0;">
									        <b-row>
									        	<b-col cols="8">
													<b-form-select style="width:100%;" v-model="selected" :options="myBranches" multiple></b-form-select>
									        	</b-col>
									        	<b-col>
													<b-button style="width:100%;" v-on:click="removeBranches" class="mr-0" variant="primary" fill>Remove</b-button>
												</b-col>
									        </b-row>
									        <b-overlay :show="loading.delbranch" variant="light" opacity="0.6" rounded="sm">
											<b-row v-show="retrieveResult.delbranch !== ''">
												<b-col class="mt-3">
													<b-alert :variant=errmsg show>{{ retrieveResult.delbranch }}</b-alert>
												</b-col>
											</b-row>
										</b-container>
									</b-form>
								</b-card-body>
							</b-collapse>
						</b-card>
					</div>
				</b-col>
				<!-- Left column content when WC is dirty -->
				<b-col cols="3" v-show="!collapse && hasChanges !== 0">
					<b-alert variant="warning" show>There are uncommitted modifications.<br/>Please commit them first.</b-alert>
					<!--  
					<b-card title="Show Changes">
						<b-overlay :show="loading.dirty" variant="light" opacity="0.6" rounded="sm">
						<b-button class="pl-5" variant="primary" @click="diffFlows" v-show="hasChanges === 1 || hasChanges === 3">Flows</b-button>
						<b-button class="pl-5" variant="primary" @click="diffUI" v-show="hasChanges === 2 || hasChanges === 3">UI</b-button>
						<div v-show="!loading.dirty">{{ retrieveResult.dirty }}</div>
					</b-card>
					-->
					<b-card title="Commit Branch changes">
						<b-form @submit="onCommit">
							<b-container fluid style="padding-left: 0;">
						        <b-overlay :show="committing" variant="light" opacity="0.6" rounded="sm">
								<b-row>
									<b-col cols="8">
										<b-form-textarea v-model="commitMsg" placeholder="Enter commit message" rows="1" max-rows="3"></b-form-textarea>
									</b-col>
									<b-col>
										<b-button style="width:100%;" type="submit" variant="primary">Commit</b-button>
									</b-col>
								</b-row>
								<b-row v-show="commitResult !== ''">
									<b-col class="mt-2">
										<b-alert variant="success" show v-show="!committing">{{ commitResult }}</b-alert>
									</b-col>
								</b-row>
							</b-container>
						</b-form>
					</b-card>
				</b-col>
				<!-- Right column content -->
				<b-col :cols="mainWidth" v-show="showMergeFlows && hasChanges === 0">
					<b-card notitle >
						<b-tabs card fill>
							<b-tab title="Nodes only in trunk" active>
								<!-- 5-column table: add | tabName | nodeName | nodeContent.type | show_details -->
								<b-table small sticky-header="700px" :items="addedNodes" :fields="nodeAddedFields">
									<template #table-colgroup="data">
									    <col style="width:5%" center>
									    <col style="width:20%">
									    <col>
									    <col style="width:10%">
									    <col style="width:10%">
									</template>
									<template #cell(add)="row">
									    <b-form-checkbox id="add" v-model="row.item.add" name="add"></b-form-checkbox>
									</template>
									<template #cell(show_details)="row">
							      		<b-button size="sm" @click="row.toggleDetails" class="mr-2" v-if="(row.item.curHtml.length > 0)">
							        		{{ row.detailsShowing ? 'Hide' : 'Show'}} Code
										</b-button>
									</template>
									<template #row-details="row">
								        <b-card>
								          <b-row class="mb-2">
								            <b-col>
												<pre class="code1" v-html="row.item.curHtml"></pre>
											</b-col>
								          </b-row>
								        </b-card>
									</template>
								</b-table>
							</b-tab>
							<b-tab title="Nodes changed">
								<!-- 5-column table: tabName | nodeName | nodeContent.type | whatChanged | show_details -->
								<b-table small sticky-header="700px" :items="changedNodes" :fields="nodeChangedFields" ref="cn">
									<template #table-colgroup="data">
										<col style="width:20%">
										<col>
										<col style="width:10%">
									    <col style="width:10%">
									    <col style="width:10%">
									</template>
									<template #cell(show_details)="row">
										<b-button size="sm" class="mr-2" :variant="row.item.merged?'success':'primary'" v-on:click="onMergeCode(row.index, row.item)"
											v-if="(row.item.curHtml.length > 0 || row.item.prvHtml.length > 0)">
											Merge Code
										</b-button>
									</template>
								</b-table>
							</b-tab>
						</b-tabs>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
		<!-- Full screen page for code merging -->
		<b-container fluid v-show="showMergeCode || showMergeUi">
			<b-row>
				<!-- when merging UI (html, js and css) -->
				<b-col cols="12" v-show="showMergeUi">
					<b-button size="sm" v-on:click="doneMergingUi" class="mr-2" variant="primary" style="margin-top: 2px;">Done</b-button>
					<b-card>
						<b-row>
							<b-col class="col-code">
								<label style="font-weight: bolder;">Branch</label>
								<b-form-textarea name="syncscroll3" class="syncscrollui code1" v-model="ui[0]"></b-form-textarea>
							</b-col>
							<b-col class="col-code">
								<label style="font-weight: bolder;">Trunk</label>
								<div name="syncscroll4" class="syncscrollui code2" v-html="ui[1]"></div>
							</b-col>
						</b-row>
					</b-card>
				</b-col>
				<!-- when merging function code -->
				<b-col cols="12" v-show="showMergeCode">
					<b-button size="sm" v-on:click="doneMergingCode" class="mr-2" variant="primary" style="margin-top: 2px;">Done</b-button>
					<b-card>
						<b-row>
							<b-col class="col-code">
								<label style="font-weight: bolder;">Branch</label>
								<b-form-textarea name="syncscroll1" class="syncscroll code1" v-model="currow.curHtml"></b-form-textarea>
							</b-col>
							<b-col class="col-code">
								<label style="font-weight: bolder;">Trunk</label>
								<div name="syncscroll2" class="syncscroll code2" v-html="currow.prvHtml"></div>
							</b-col>
						</b-row>
					</b-card>
				</b-col>
			</b-row>
		</b-container>
	</div>
	<script><include>/branchpage.js</include></script>
</body>

</html>