.code3 {
	font-family: "Monaco", "Courier New", monospace;
	font-size:smaller;
	height: 750px;
	width: 100%;
	white-space: nowrap;
	overflow:scroll;
}
.code2 {
	font-family: "Monaco", "Courier New", monospace;
	font-size:smaller;
	height: 600px;
	width: 100%;
	white-space: nowrap;
	overflow:scroll;
}
.code1 {
	font-family: "Monaco", "Courier New", monospace;
	font-size:smaller;
	height: 600px;
	width: 100%;
	overflow:scroll;
}
.col-code { width: 45%;	}
.del { background-color:orange; }
.add { background-color:lightgreen; }
.navbar-menu-title {
	margin: auto;
          color: white !important;
          font-size: 24px;
}
h4 {
	color:darkblue;
	font-size: 20px;
}
hr {
  margin-top: 5px;
  margin-bottom: 0;
  height: 2px !important;
  opacity: 1;
}
#selenv {
	font-size: 18px;
	padding: 5px;
	width:100%;
}
#currevno, #prvrevno {
	font-size: 18px;
	padding: 5px 10px 5px 10px;
}
#collapse_button {
	font-size: 24px;
	font-weight:bolder;
	padding: 0px 10px 0px 10px;
}
.nav-tabs {
	font-size: 20px;
}
.card-header {
	font-size: 24px;
}
.card-body {
	padding: 5px;
}
.form-control-plaintext {
	font-size: 18px;
	padding: 0px 10px 0px 10px;
}
.result-card-title .card-body h4.card-title {
	text-align:center;
	font-size: 28px;
}
